<!-- <script>
    $('#registerForm').ajaxForm(function() {
        // on success redirect
        page.redirect('/home');
    });
</script> -->

<form id="registerForm" method="post">  
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="choose username" name="username" required>

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="choose password" name="password" required>

    <button type="submit">register</button>
</form>